*{
    background-color: cornsilk;
    font-family: sans-serif;
    font-size: 40px;
}

p {
    font-size: 15px;
    color: darkgray;
}

.head{
    text-align: center;
}

.head h1{
    font-weight: bold;
}

#p {
    font-size: 30px
}
